.card {
  min-width: 13rem;
  min-height: 13rem;
}

.card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffc107;
}

.addCard {
  color: #1967d2;
}

.error {
  color: brown;
}
